* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

#logo {
    margin: 10px 34px;
    border-radius: 5px;
    box-shadow: 0 0 30px #ffffff, 0 0 30px #000000;
}

#logo img {
    height: 80px;
}

body {
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.menu-bar {
    background-image: url("../resources/bg1.jpg");
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: rgb(2, 2, 2);
    align-items: center;
}

.menu-bar ul li {
    position: relative; /* Add this line for proper positioning of sub-menu */
    width: 178px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 3px 3px;
    border-radius: 20px;
}

.menu-bar ul li a:hover {
    font-weight: bold;
    font-stretch: wider;
}

.active,
.menu-bar ul li:hover {
    background-image: url("../resources/bg1.jpg");
    border-radius: 4px;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000, 0 0 10px #000000;
}

.menu-bar .fa {
    margin-right: 8px;
}

.sub-menu-1 {
    
    display: none;
    position: absolute;
    top: 100%; /* Position below the parent menu item */
    left: 0;
    background-image: url("../resources/bg1.jpg");
    border-radius: 10px;
    z-index: 2; /* Ensure the dropdown appears above other elements */
    border: 1px solid black; /* Add a border */
    border-radius: 8px;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
}

.menu-bar ul li:hover.sub-menu-1 ul {
    display: block;
    margin: 0;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 5px;
    background: transparent;
    border-bottom: 1px dotted #fff;
    border-radius: 10px; /* Fixed the value */
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover a {
    color: rgb(0, 0, 0);
}
