body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    font-family: calibri;
}

a {
    text-decoration: none;
}

.bottom-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.s-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    padding: 20px 25px;
    height: 230px;
    /* box-sizing: border-box; */
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}

.s-box img {
    height: 75px;
}

.s-box h1 {
    color: black;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 11px;
}

.s-box p {
    color: rgb(29, 28, 28);
    text-align: center;
}

.bar {
    width: 100px;
    height: 8px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    background-image: url("../resources/bg1.jpg");
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.7s;
}

.s-box:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.692);
    transition: all ease 0.4s;
}

.s-box:hover .bar {
    display: block;
}

@keyframes bar {
    0% {
        width: 0px;
    }
    100% {
        width: 100px;
    }
}

@media(max-width:1050px) {
    .s-box-container {
        flex-wrap: wrap;
    }
    .bottom-bar {
        height: auto;
    }
    .s-box {
        flex-grow: 1;
    }
}